$background: #111E25;
$dark: #111;
$primary: rgb(3, 169, 244);

input, 
button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

input {
  width: 70vw;
  padding: .25rem 0;
  border: 0;
  border-bottom: 1px solid $primary;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .125rem;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

input::selection {
  background: rgba($primary, 0.25);
}

button,
.calculate-button, .calculate-button-trigger {
  padding: .25em 1.25em;
  border: 0;
  outline: 0;
  background: $primary;
  color: rgba(#fff, 0.85);
  font-size: 2em;
  line-height: 3.6rem;
  letter-spacing: .0625rem;
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#fff, 0.2);
  border-radius: 55555px;
  cursor: pointer;
}

input:focus,
button:focus {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all .4s cubic-bezier(.1, .45, .1, .85) .5s;
  z-index: 10;
}

input:focus ~ input,
input:focus ~ button {
  transform: translate(-50%, 500%);
  transition: all .5s ease-in;
}
input:focus ~ label .label-text {
  transform: translate(-50%, 300%);
  transition: all .5s ease-in;
}
input:focus ~ .tip {
  opacity: 1;
}
input:focus ~ .calculate-button,
button:focus ~ .calculate-button {
  opacity: 0;
}

input:focus + label .label-text {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all .3s cubic-bezier(.1, .45, .1, .85) .4s;
}
input:focus + label .nav-dot:before {
  background: darken($primary, 5%);
  box-shadow: 0 0 0 .15rem $dark, 0 0 .05rem .26rem $primary;
}

.tip {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  color: #fff;
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity .25s .5s;
}

.calculate-button,
.calculate-button-trigger {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  line-height: 3.6rem;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
  transition: opacity .4s .3s;
  z-index: 10;
  @media screen and (max-width: 450px) {
    line-height: 1.5em;
    font-size: 1.5em;
  }
}

.calculate-button-trigger {
  opacity: 0;
  pointer-events: auto;
}

.label-text {
  position: fixed;
  top: calc(50% - 4rem);
  left: 50%;
  transform: translate(-50%, -300%);
  width: 70vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .125rem;
  pointer-events: none;
  transition: all .4s cubic-bezier(.4, .25, .8, .3) .05s;
  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.nav-dot {
  cursor: pointer;
  position: fixed;
  padding: .625rem 1.25rem .625rem .625rem;  
  top: 52%;
  right: 1.25rem;
  &:before {
    content: '';  
    display: inline-block;  
    border-radius: 50%;
    width: .375rem;
    height: .375rem;
    margin-right: .625rem;  
    position: fixed;
    background-color: lighten($background, 3%);
    border: 0;
    transition: all 0.25s;
  }
  &:hover:before {
    width: .625rem;
    height: .625rem;
    margin-top: -.125rem;
    margin-left: -.125rem;
    background-color: darken($primary, 5%);
  }
}

@for $i from 1 through 5 {
  label[for="input-#{$i}"] .nav-dot {
      margin-top: -150px + (25 * $i);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, $background 0%, $dark 100%);
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hide
{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

#result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

.result-container{
  color: white;
  background-color: $primary;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: .0625rem;
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#fff, 0.2);
  text-align: center;
}

.result-container h1{
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
  color: $background;
}

#score, #grade, #gpa{
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.score-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

@media screen and (max-width: 650px){
  .score-container{
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    gap: 0;
  }
}

@media screen and (max-width: 450px){
  #result{
    font-size: 0.8rem;
  }
}

.fa{
  display: inline-block;
}

#comment-box{
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
  color: navajowhite;
  text-shadow: 0px 0px 2px #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

#calculate-again{
  padding: 1rem 1.25rem;
  border: 0;
  outline: 0;
  background: $primary;
  color: rgba(#fff, 0.85);
  font-size: 2em;
  letter-spacing: .0625rem;
  text-align: center;
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#fff, 0.2);
  border-radius: 55555px;
  cursor: pointer;
  width: fit-content;
  margin: 20px;
}

.credit{
  text-align: center;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.credit p{
  font-size: 1.2rem;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.credit > p > a{
  color: rgb(38, 171, 255);
}

.contact-links{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.contact-links a{
  color: white;
  font-size: 1.3rem;
  transition: all 0.4s ease-out;
}

.contact-links a:hover{
  transform: translateY(-5px);
  color: rgb(38, 171, 255);
}